<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
        <style>
        h1 {
            color: #d147a3;
        }
        p {
            color: #ac39ac
        }
        </style>
    <head>
    <body>
        <p>
            <img src="https://user-images.githubusercontent.com/65421091/82102006-19eaa100-96dc-11ea-9216-f29b2ff7e342.JPG" alt="tulips.jpg" width="280" />
        </p>
        <h1>about me.</h1>
        <p>i am the youngest of two sisters. i grew up in palisades, new york</p>
        <p>for my entire life. i love walking outside in nature, playing instruments,</p>
        <p>and spending quality time with my family and friends.</p>
    </body>
</html>


