<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
        <style>
        h1 {
            color: #d147a3;
        }
        p {
            color: #ac39ac
        }
        .purple {
            color: purple;
        }
        </style>
    <head>
    <body>
        <p>
            <img src="https://user-images.githubusercontent.com/65421091/82103558-7a301180-96e1-11ea-9f48-2ee2b7f78de9.jpg" width="400" />
        </p>
        <h1>classes.</h1>
        <p>- General Chemistry II</p>
        <p>- Physics II</p>
        <p>- Calculus II</p>
        <p>- Intro to Python</p>
        <p>- Art of Engineering</p>
        <p>- Ear Training I</p>
    
        <p class="purple">
            as a student in seas, my class schedule is heavy on science/math based</p>
        <p class="purple">
            classes, so i decided to enroll in a lightweight music class - ear training.</p>
        <p class="purple">
            needless to say, it was the most different, intriguing, and enjoyable</p>
        <p class="purple">
            class i took all semester. unlike my other big lecture classes, this</p>
        <p class="purple">
            class only consisted of eleven students. it was fun, new, and therapeutic.</p>
        <p class="purple">
            i had always wanted to take some music related classes at columbia, and</p>
        <p class="purple">
            i am so glad to have gotten the opportunity to do so with such kind people.</p>
    </body>
</html>


